<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Arts Campus Previous Course Catalog</title>
<link type="text/css" rel="stylesheet" href="NewCSS.css">
<link type = "text/css" href = "site_mobile.css" rel = "stylesheet" media ="screen and (max-width: 480px)">
<script src="ACourses.js"></script>
</head>
<body>
	<img class="logo_campus_page" src = "images/logo.png" alt ="Logo">
	<h1 id="arts-header" class="campush1">Previous Courses</h1>
	
	<div class="navi" id="m_c_nav">
		<a href = "Campus_Main.html">Home</a>
		<a href= "MainCatalog.html">Main Campus</a>
		<a href ="TechnologyCatalogue.html">Technology Campus</a>
		<a href = "ArtsCatalog.html">Arts Campus</a>
		<a href = "Student">Student</a>
		<a href = "map.html">Get Directions</a>
		
	</div>
	
	<h2> Previously Offered at the Arts Campus:</h2>
		<ul id="artsPre"></ul>
	

</body>
</html>