<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<head>
	<title>Welcome to Western University</title>
	<link type="text/css" rel="stylesheet" href="main.css"
		media = "screen and (min-width: 481px)">
	<link type = "text/css" href = "site_mobile.css" rel = "stylesheet" media ="screen and (max-width: 480px)">
	<script src = "/Events.js"></script>
	
	
</head>
<body>
<div id = "allcontent">
	<h1 id = "Main_header">
		<img id = "homelogo"  src = "/logo.png" alt ="Logo">
		<p id = "Welcome">
			Welcome to our University
		</p>
		
		<p id = "add_phone">
			Address: 123 Main Road</br> 
			Phone: 1-234-5678
			
	</h1>
	<div class="navi">
		<a href = "Campus_Main.html">Home</a>
		<a href= "MainCatalog.html">Main Campus</a>
		<a href ="TechnologyCatalogue.html">Technology Campus</a>
		<a href = "ArtsCatalog.html">Arts Campus</a>
		<a href = "ArtsPreviousCourses.html">Previous Courses</a>
		<a href = "Student_Page.html">Student</a>
		
		
	</div>
	
	<div id="events">
      <h1 id = "event_title">Events</h1>
     <form>
     		<input type = "text" id ="info_text">
     		<input type = "submit" id = "add_button" value = "Add new Event">
     		
     </form>
     
     <ul id = "events_list"></ul>
    </div>
	
	<h2 id = "Campuses">Our Campuses</h2>
	<div class="nav">
	
		<div class = "main_camp">
		<form action = "/maincamp" method = "post">
     		<input type = "text" id ="campus_text">
     		<input type = "submit" id = "campus_button" value = "Update Campus Info">
     	</form>
     <p id = "campus_list"></p>
			<p id = "main_info">
			<a target ="_blank" href="/campus_1.jpg">
			<img id = "main_thumb" src = "/campus_1_thumbnail.jpg" alt = "Campus">
			</a>
			</p>
		</div>
		
		<div class = "tech_camp">
		<form>
     		<input type = "text" id ="tech_text">
     		<input type = "submit" id = "tech_button" value = "Update Campus Info">		
     	</form>
			<p id = "tech_list"></p>
			<a target ="_blank" href="/campus_3.jpg">
			<img id = "tech_thumb" src = "/campus_3_thumbnail.jpg" alt = "Tech Campus">
			</a>
			
		</div>
		
		<div class = "arts_camp">
		<form>
     		<input type = "text" id ="art_text">
     		<input type = "submit" id = "art_button" value = "Update Campus Info">		
     	</form>
     		<p id = "art_list"></p>
			<a target ="_blank" href="/campus_2.jpg">
			<img id = "arts_thumb" src = "/campus_2_thumbnail.jpg" alt = "Art Campus">
			</a>
		</div>
	</div>
	</div>




	
   
		
		<div id="footer">
      &copy; 2017, Western University
      <br/>
      All trademarks and registered trademarks appearing on this site are the property of Western University and their respective owners.
    </div>
  
</div>
</body>
</html>