<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<head>
	<title>Kelly</title>
	<link type="text/css" rel="stylesheet" href="NewCSS.css"
		media = "screen and (min-width: 481px)">
	<link type = "text/css" href = "site_mobile.css" rel = "stylesheet" media ="screen and (max-width: 480px)">
	<script src = "KCourses.js"></script>
	
</head>
<body>
<div id = "allcontent">
<div id="stuHead">
<img id = "homelogo"  src = "images/logo.png" alt ="Logo">
	<h1 class="campush1" id="main-header">Kelly</h1>
	</div>

	<div class="navi">
		<a href = "Campus_Main.html">Home</a>
		<a href= "MainCatalog.html">Main Campus</a>
		<a href ="TechnologyCatalogue.html">Technology Campus</a>
		<a href = "ArtsCatalog.html">Arts Campus</a>
		<a href = "Student_Page.html">Students</a>
		<a href = "map.html">Get Directions</a>
		
		
	</div>



<div id="register">
      <h3 id = "register_title">Register for a course:</h3>
     <form>
			Course Number:<input type="text" id="courseNum"></br>
			Section:<input type="text" name="section"><br>
			<input id="reg_button" type="button" value="Register">
     </form>
     
     <ul id = "registers_list"></ul>
    </div>
	


		
	<footer>
      &copy; 2017, Western University
      <br/>
      All trademarks and registered trademarks appearing on this site are the property of Western University and their respective owners.
    </footer>
  
</div>
</body>
</html>